@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Allura&family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Goldman:wght@400;700&family=Gravitas+One&family=Italianno&family=Kaushan+Script&family=Luxurious+Script&family=Miltonian+Tattoo&family=Pinyon+Script&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Staatliches&family=Teko&family=Vujahday+Script&family=WindSong:wght@400;500&family=Yatra+One&family=Zeyada&display=swap");

:root {
    --catalina: #06327d;
    --bluetiful: #2b70e4;
    --vegan: #209d5c;
    --sunglow: #ffd034;
    --white: #ffffff;
    --lightblue: #cadbf8;
    --mainfont: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
}

body {
    font-family: var(--mainfont);
    font-size: 1.125rem;
    line-height: 1.5;
}

.responsive {
    max-width: 100%;
    border-radius: .2rem;
}

header {
    /* background-color: var(--catalina);
    border-bottom: 1rem solid #ffd034;
    text-align: center;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center; 
    justify-content: space-around;
    color: white;
    align-items: baseline;
    font-size: ; */
    
      
}

.nav {
    /* list-style: none;
    color: white;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    text-align: center; */
    
}
.navlink{
    list-style: none;
    margin: 0;
}
.navlink a {
    color: var(--lightblue);
    text-decoration: none;
    font-size: 1.2em;
}
.burger {
    font-size: 1.2em;
    display: none;

}
ul a {
    text-align: center;
    align-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-weight: bold;
}

nav a:hover {
    color: var(--sunglow);
}
.button{
    background-color: #cadbf8;
}


.logo {
    max-width: 100%;
    letter-spacing: 3px;
}

h1 {
    color: var(--white);
    font-size: 3rem;
    line-height: 1.1667;
    text-transform: uppercase;
    max-width: 100%;
    margin: 0.5rem 0.5rem;
    align-content: center;
    justify-content: space-evenly;

}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1.667;
    text-transform: uppercase;
}

h3 {
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 1.5;
}

.hero-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: var(--white);
    /* padding: 2rem;
    border: solid white; */
}

 .hero-container h2 {
    grid-column: 2/3;
}

.hero-container p {
    grid-column: 2/3;
}

.hero-container a {
    font-size: 12px;
    background-color: var(--vegan);
    color: var(--white);
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 20%;
    text-decoration: none;
} 

.hero-container a:hover {
    background-color: var(--sunglow);
    color: var(--vegan)
}

.respond {
    max-width: 100%;
    height: auto;
    grid-row: 1/2;
    grid-row: 1/4;
    align-self: center;
    row-gap: 0;
}

.coffee-section {
    background-color: #cadbf8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    padding: 1rem;
}



.coffee-section a {
    background-color: #06327d;
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: .2rem;
    border-radius: 10%;
}

.coffee-section a:hover {
    color: var(--sunglow)
}

footer {
    border-top: 1rem solid #ffd034;
    background-color: #06327d;
    color: white;
    text-align: center;
    align-content: center;
    margin: auto;
    padding: 2rem; 
} 
@media (max-width: 649px){
    .burger {
      display:block;
    }
    .overlay{
        height: 100%;
        width: 0;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s;
    }
    .overlay a{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block; /* Display block instead of inline */
        transition: 0.3s;

    }
    .nav {
      /* margin: .05rem;
      background: var(--catalina);
      position: fixed;
      z-index: 1;
      display: none;
      right: -100px;
      top: 265px;
      width: 50%;
      flex-direction: column;
      height: 500%;
      justify-content: space-around;
      padding: 0;
      transition: all 400ms; */
      align-items: center;
      position: relative;
      top: 25%; /* 25% from the top */
      width: 100%; /* 100% width */
      text-align: center; /* Centered text/links */
      margin-top: 30px;
    }
    .nav-active {
      right: 0;
      display: block;
      
    }
    .button{
        color:var(--lightblue)
    }
    .burger i{
        background-color: #cadbf8;
    }
  }
  

 @media (min-width: 650px) {
   

    .nav {
    list-style: none;
    color: white;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    text-align: center;

    }
    .navlink{
    list-style: none;
    margin: 0;
    }
    .navlink a {
    color: #ccc;
    text-decoration: none;
    font-size: 1.2em;
    }
    .burger {
    font-size: 1.2em;
    display: none;
    }
    ul a {
    text-align: center;
    align-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-weight: bold;
    }

    nav a:hover {
    color: var(--sunglow);
    }

    .logo {
    max-width: 100%;
    letter-spacing: 3px;
    }
    .hero-container {
        padding: 0;
        margin: 0;
        row-gap: 0;
        border: none;
        /* gap: 1rem; */
     }

    .coffee-section {
        row-gap: 0;

    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 2rem;
        margin: 2rem;
    }

    .respond {
        max-width: 100%;
        grid-row: 1/2;
        grid-row: 1/4;
        align-self: center;
        margin-bottom: 0%;
    }

} 

 @media (min-width: 1000px) { 

    body {
        background-color: var(--catalina);

    }

    header {
        width: auto;
        display: flex;
        align-items: baseline;
        justify-content: center;

    }
    /* header {
    background-color: var(--catalina);
    border-bottom: 1rem solid #ffd034;
    text-align: center;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    }

    .nav {
    list-style: none;
    color: white;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    text-align: center;

    }
    .navlink{
    list-style: none;
    margin: 0;
    }
    .navlink a {
    color: #ccc;
    text-decoration: none;
    font-size: 1.2em;
    }
    .burger {
    font-size: 1.2em;
    display: none;
    text-align: center;
    align-self: center;
    align-content: center;
    }
    ul a {
    text-align: center;
    align-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-weight: bold;
    }

    nav a:hover {
    color: var(--sunglow);
    }

    .logo {
    max-width: 100%;
    letter-spacing: 3px; */
    /* } */

    .hero-container {
        margin: auto;
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
}




 